[Unit]
Description=Booting is finished
After=systemd-user-sessions.service
ConditionPathExists=!/tmp/.booting-done

[Service]
Type=idle
StandardOutput=tty
ExecStart=/usr/bin/booting-done.sh
