[Unit]
Description=zigbee daemon
Requires=zigbee-pre.service
After=zigbee-pre.service

[Service]
EnvironmentFile=/tmp/zigbee_tty
ExecStart=/usr/bin/zigbeed $ZIGBEE_TTY

[Install]
WantedBy=multi-user.target
